.button {
  appearance: none;
  background-color: transparent;
  border: 1px solid var(--text-color);
  border-radius: 50px;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0.8rem 1rem;
  margin: 10px;
  line-height: 1rem;
  text-transform: capitalize;
  outline: none;
  color: var(--text-color);
  &--active {
    background-color: var(--text-color);
    color: var(--absolute-color);
  }

  &:hover {
    transition: all 0.2s ease-in-out;
    background-color: var(--text-color);
    color: var(--absolute-color);
  }
}
