@each $classname, $position in $display {
  #{"." + $classname} {
    display: #{$position};
  }
}

@each $classname, $position in $flex {
  .flex-#{ $classname} {
    flex-wrap: #{$position};
  }
}

@each $classname, $position in $justify-contents {
  .justify-#{$classname} {
    justify-content: #{$position};
  }
}

@each $classname, $position in $justify-items {
  .justify-items-#{$classname} {
    justify-items: #{$position};
  }
}

@each $classname, $position in $directions {
  .direction-#{$classname} {
    flex-direction: #{$position};
  }
}

@each $classname, $position in $align-contents {
  .content-#{$classname} {
    align-content: #{$position};
  }
}

@each $classname, $position in $align-items {
  .items-#{$classname} {
    align-items: #{$position};
  }
}

//@each $classname, $position in $justify-selfs {
//.justify-self-#{$classname} {
//  justify-self: #{$position};
//}
//}

// margins

@each $gut, $size in $gutters {
  .mt-#{$gut} {
    margin-top: #{$size};
  }
}

@each $gut, $size in $gutters {
  .mb-#{$gut} {
    margin-bottom: #{$size};
  }
}

@each $gut, $size in $gutters {
  .mx-#{$gut} {
    margin-left: #{$size};
    margin-right: #{$size};
  }
}

@each $gut, $size in $gutters {
  .my-#{$gut} {
    margin-top: #{$size};
    margin-bottom: #{$size};
  }
}
@each $gut, $size in $gutters {
  .px-#{$gut} {
    padding-left: #{$size} !important;
    padding-right: #{$size} !important;
  }
}
@each $gut, $size in $gutters {
  .py-#{$gut} {
    padding-top: #{$size} !important;
    padding-bottom: #{$size} !important;
  }
}

@each $gut, $size in $gutters {
  .pb-#{$gut} {
    padding-top: #{$size} !important;
    padding-bottom: #{$size} !important;
  }
}

%floatleft {
  float: left;
}

%paddleftright {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
