// Border
@mixin border-radius($radius) {
  border-radius: $radius;
}

// Unstyled keeps list items block level, just removes default browser padding and list-style
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

// Reset Text
@mixin reset-text {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  text-align: inherit;
  text-decoration: none;
  text-shadow: none;
  text-transform: inherit;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
}

// Flex
@mixin flex-center {
  @extend .justify-center;

  @content;
}

// Media Queries
@mixin mq($key) {
  $size: map-get($mq-breakpoints, $key);

  @media only screen and (min-width: $size) {
    @content;
  }
}

// Buttons
@mixin box-shadowi($x-axis: 0, $y-axis: 1px, $blur: 2px, $color: $default) {
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin button-content($color, $bg, $shadow, $bgh, $shadowh) {
  @extend %button;

  color: $color;
  background-color: $bg;

  @include box-shadow($shadow);

  &:hover {
    background-color: $bgh;

    @include box-shadow($shadowh);
  }
}

@mixin samewh($size) {
  width: $size;
  height: $size;
}

@mixin wh($w, $h) {
  width: $w;
  height: $h;
}

@mixin margintb($mt, $mb) {
  margin-top: $mt;
  margin-bottom: $mb;
}

@mixin lineHeight($size) {
  line-height: $size * 1.618;
}

@mixin col($number) {
  flex: 0 0 column($number);
  max-width: column($number);
}
